  <h3> Name of Station: <%= @station.station_name %></h3>
  <h3> Address: <%= @station.location %></h3>
  <h3><img src="<%= @station.photo_url %>"></h3>

  <h3><a href="/stations/<%= @station.id %>/bikes/<%= @bike_station %>">Find bikes in this station</a></h3>
  <h3><a href="/stations/<%= @station.id %>/bikes/new">Create Bikes</a></h3>
  <h3><a href="/stations/<%= @station.id %>/edit">Update Station</a></h3>
